@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}
h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  color: #293356;
}
p {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #848ead;
}
